node_modules/
.DS_Store
dists/
dist/
datas/
logs/
tmp/
.temp/
.cache/
package-lock.json

!**/.gitignore

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Serverless directories
.serverless/

# DynamoDB Local files
.dynamodb/
